.app h1 {
  font-family: 'Festive', cursive;
  margin: 1rem 0;
  font-size: 70px;
  color: #24241c;
  text-align: center;
  text-decoration: underline;
}

a:hover{
  color : green;
}
.searchInputs {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search-txt {
  border: none;
  margin-right: 10px;
  margin-top: 2px;
  display: block;
  border-radius: 25px;
  font-size: 20px;
  padding: 8px 40px 8px 20px;
  border: none;
  box-shadow: 0 5px 8px 3px black;
  height: 30px;
  width: 300px;
}

.searchIcon {
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 20px;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 40px;
}

.routesClass{
margin-top: 100px;
}

.loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 600px;
}

.loginClass{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 40px 40px 30px;
  border-radius: 15px;
  transition: all 0.3s;
}





